.cart {
  padding: 30px 50px;
  min-height: 100vh;
}

.cartTitle {
  text-align: center;
}

.cartButtonsFlex {
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  align-items: center;
  width: 100%;
  margin-top: 20px;
}

.cartDescription {
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  align-items: flex-start;
  margin-top: 50px;
}

.cartList {
  margin-top: 30px;
}

.cartItemBox {
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  align-items: center;
  width: 700px;
  height: 200px;
  margin-bottom: 15px;
  border-radius: 10px;
  padding: 25px;
  transition: 0.15s ease-in;
}

.cartItemBox:hover {
  box-shadow: 0px 0px 10px 0px rgb(219, 219, 219);
}

.cartItemImageBox {
  width: 20%;
  height: 100%;
  margin-right: 20px;
}

.cartItemImage {
  height: 100%;
  width: 100%;
  object-fit: contain;
}
.cartItemTitleBox {
  display: flex;
  flex-direction: column;
  justify-content: space-evenly;
  align-items: flex-start;
  gap: 30px;
  width: 30%;
}

.cartItemTitle {
  color: black;
}

.cartItemCountAndPrice {
  display: flex;
  flex-direction: column;
  justify-content: space-evenly;
  align-items: center;
  gap: 15px;
}

.cartItemCount {
  font-weight: 200;
  font-size: 20px;
}

.cartItemPrice {
  font-weight: 200;
  font-size: 25px;
}

.cartItemEmptyCart {
  text-align: center;
  padding-top: 30px;
  font-weight: 200;
  font-size: 20px;
}

.cartRemoveItemButton {
  margin-left: 10px;
  padding-left: 20px;
}

.cartFinishAlert {
  position: fixed;
  bottom: 3%;
  left: 2%;
}
