.circularProgressContainer {
  display: flex;
  flex-direction: row;
  justify-content: center;
  align-items: center;
  width: 100%;
  height: 100vh;
}

.itemDetailFlex {
  display: flex;
  flex-direction: row;
  justify-content: space-around;
  align-items: center;
  min-height: 100vh;
  padding: 0px 50px 50px 50px;
  gap: 50px;
}

.itemDetailImageBox {
  display: flex;
  flex-direction: row;
  justify-content: center;
  align-items: center;
  object-fit: cover;
  height: 100%;
  width: 100%;
}

.itemDetailDivider {
  width: 1px;
  border: 0.5px solid rgb(216, 216, 216);
  height: 100px;
}

.itemDetailRest {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  height: 100%;
  padding: 30px;
}

.itemDetailTitle {
  font-size: 27px;
  font-weight: 500;
  margin-bottom: 10px;
  text-align: center;
}

.itemDetailDescription {
  text-align: center;
  font-weight: 200;
  font-size: 18px;
  margin-bottom: 50px;
  width: 70%;
}

.itemDetailPrice {
  font-size: 25px;
  margin-bottom: 50px;
}

.itemDetailStock {
  font-weight: 200;
  margin-bottom: 15px;
}

.itemCounterContainer {
  display: flex;
  flex-direction: row;
  justify-content: center;
  align-items: center;
  gap: 20px;
}

.itemDetailAfterAddButtons {
  width: 100%;
  display: flex;
  flex-direction: row;
  justify-content: space-evenly;
  align-items: center;
}

.itemDetailBackButton {
  margin: 30px 0px 5px 30px !important;
}

@media screen and (max-width: 768px) {
  .itemDetailFlex {
    flex-direction: column;
  }
  .itemDetailImageBox {
    width: 50%;
    height: 50%;
  }

  .itemDetailImage {
    width: 80%;
    height: 80%;
  }

  .itemDetailTitle {
    font-size: 20px;
  }

  .itemDetailDescription {
    font-size: 15px;
  }

  .itemDetailPrice {
    font-size: 20px;
  }

  .itemDetailDivider {
    width: 100px;
    height: 1px;
  }

  .itemDetailFlex {
    padding: 0px;
    gap: 30px;
  }

  .itemDetailRest {
    padding-bottom: 100px;
  }
}

@media screen and (max-width: 425px) {
  .itemDetailImageBox {
    width: 100%;
    height: 100%;
  }

  .itemDetailImage {
    width: 80%;
    height: 80%;
    object-position: center;
  }

  .itemDetailTitle {
    font-size: 25px;
  }

  .itemDetailDescription {
    font-size: 18px;
  }

  .itemDetailPrice {
    font-size: 25px;
  }

  .itemDetailAfterAddButtons {
    margin-top: 20px;
    gap: 30px;
    flex-direction: column;
  }
}

@media screen and (max-width: 320px) {
  .itemDetailRest {
    padding-right: 0;
    padding-left: 0;
  }
  .itemCounterContainer {
    flex-direction: column;
  }
}
