nav {
  display: flex;
  flex-direction: row;
  justify-content: center;
  align-items: center;
  background-color: #e5e5e5fa;
  height: 80px;
  width: 100%;
  padding: 0px 30px;
  gap: 10%;
  box-shadow: 0px 1px 20px 5px rgba(0, 0, 0, 0.181);
}

.nav {
  position: fixed;
  top: 0;
  z-index: 9;
}

.navLogo {
  justify-self: left;
}

.navListDesktop {
  list-style: none;
  display: flex;
  flex-direction: row;
  justify-content: center;
  align-items: center;
  gap: 50px;
}

.navListMobile {
  list-style: none;
  display: flex;
  flex-direction: row;
  justify-content: center;
  align-items: center;
  gap: 50px;
}

.navCart {
  align-self: flex-end;
}

.menuIcon {
  display: none !important;
}

.menuBox {
  position: fixed;
  left: 0;
  top: 80px;
  display: none;
  width: 100%;
  min-height: 100vh;
  background-color: rgba(255, 255, 255, 0.971);
  z-index: 3;
  transform: translateX(-100vw);
  transition: 0.3s ease-in-out;
}

.active {
  transform: translateX(0px);
}

.menu {
  display: inline-block;
}

.iconsBox {
  display: flex;
  width: fit-content;
  height: fit-content;
  gap: 15px;
}

@media screen and (max-width: 768px) {
  nav {
    justify-content: space-between;
  }

  .navListDesktop {
    display: none;
  }

  .navListMobile {
    flex-direction: column;
    margin-top: 50px;
  }

  .menuIcon {
    display: inline-flex !important;
  }

  .menuBox {
    display: inline-block;
  }
}
