nav {
  display: flex;
  flex-direction: row;
  justify-content: center;
  align-items: center;
  background-color: #e5e5e5fa;
  height: 80px;
  width: 100%;
  padding: 0px 30px;
  gap: 10%;
  box-shadow: 0px 1px 20px 5px rgba(0, 0, 0, 0.181);
}

.nav {
  position: fixed;
  top: 0;
  z-index: 9;
}

.navLogo {
  justify-self: left;
}

.navList {
  list-style: none;
  display: flex;
  flex-direction: row;
  justify-content: center;
  align-items: center;
  gap: 50px;
}
